/* General styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image-gallery {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.head {
    text-align: center;
    display: flex;
    color: #FBCEB1;
    font-family: Arial, Helvetica, sans-serif;
}

/* Combined Drag-and-Drop and Manual Upload Area */
.drop-zone {
    border: 2px dashed #FBCEB1;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
    position: relative;
    transition: background-color 0.3s ease;
}

.drop-zone.dragover {
    background-color: #f0f0f0;
    border-color: #FBCEB1;
}

.drop-zone p {
    margin: 0;
    font-size: 16px;
    color: #FBCEB1;
}

.drop-zone input[type="file"] {
    display: none;
}

.drop-zone button {
    margin-top: 10px;
    background-color: #FBCEB1;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.logout {
    background-color: #FBCEB1;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    height: auto;
}

.logout i {
    color: #fff;
    font-size: 16px;
    margin-left: 5px; /* Optional: Add space between text and icon */
}


.uploadBtn i {
    margin-right: 5px;
    font-size: 18px;
}

.image-container {
    cursor: pointer;
}
#file-name {
    color: #FBCEB1;
    font-weight: bold;
}

.delBtn {
    background-color: #FBCEB1;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delBtn i {
    margin-right: 2px;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    height: 10px;
}

.chooseF {
    background-color: #FBCEB1;
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    cursor: pointer;
    transition: ease-in, 0.3s;
}
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.btn-primary {
    background-color: #FBCEB1;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

.return-button {
    display: block;
    margin: 20px auto;
}

.cdk-overlay-containercdk-live-announcer-element {
    padding: 20px;
    background-color: #FBCEB1;
    color: white;
}

.container {
    width: 1400px;
    margin: 20px auto;
    columns: 4;
    column-gap: 40px;
}

.container .box{ 
    width: 100%;
    margin-bottom: 10px;
    break-inside: avoid;
 } 

 .container .box img{
    max-width: 100%;
    border-radius: 15px;
 }

@media (max-width: 1200px)
{
    .container{
        width: calc(100% - 40px);
        columns: 3;
    }
}
@media (max-width: 768px)
{
    .container{
        columns: 2;
    }
}
@media (max-width: 480px)
{
    .container{
        columns: 1;
    }
}