<div class="image-gallery">
  <h1 class="head">Image Gallery</h1>
  <div class="image-form">
    <input class="chooseF" type="file" (change)="handleFileInput($event)" multiple>
    <button class="uploadBtn" (click)="uploadImages()">Upload</button>
  </div>
  <ul class="image-list">
    <li *ngFor="let image of images | async" class="image-list-items">
      <div class="image-item">
        <div class="image-container" (click)="openPreview(getImageUrl(image.file_path))">
          <img [src]="getImageUrl(image.file_path)" alt="image">
        </div>
        <div class="image-info">
          <p id="file-name">File Name: {{ image.file_name }}</p>
          <p>Upload Date: {{ image.upload_date }}</p>
          <button class="delBtn" (click)="deleteImage(image.id)">Delete</button>
        </div>
      </div>
    </li>
  </ul>
</div>

<!-- Modal for Image Preview -->
<div class="modal" *ngIf="selectedImage">
  <div class="modal-content">
    <span (click)="closePreview()" class="close">&times;</span>
    <img [src]="selectedImage" class="modal-image" />
    <button (click)="closePreview()" class="btn-primary return-button">Return</button>
  </div>
</div>
