.image-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100px;
    
    /* adjust the width as needed */
}
.head{
  color: #FBCEB1 ;
  font-family: Arial, Helvetica, sans-serif;
}
.image-item:last-child {
  border-bottom: none;
}

.image-container {
  width: 10px;
  height: 50px;
  margin-right: 15px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.image-info {
  flex: 1;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  
  
}

.image-info {
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px;
  
  
}

#file-name {
  color: #FBCEB1;
  font-weight: bold;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  overflow: hidden;
}

.modal-image {
  width: 100%;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.btn-primary {
  background-color: #FBCEB1;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.return-button {
  display: block;
  margin: 20px auto;
}
.image-gallery {
  width: 80%;
  margin: 0 auto;
}

.image-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.image-list {
  list-style: none;
  padding: 0;
}

.image-list-items {
  margin-bottom: 10px;
}

.image-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-container {
  width: 100px;
  height: 100px;
  overflow: hidden;
  cursor: pointer;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.uploadBtn{
  background-color: #FBCEB1;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.delBtn{
  background-color: #FBCEB1;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 100px;
}
.chooseF{
  background-color: #FBCEB1;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  cursor: pointer;
  transition: ease-in, 0.3s;
}

.custom-snackbar {
  background-color: #FFCC00; /* Yellow background color for warning */
  color: #fff; /* Black text color */
  font-weight: bold;
}
